@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@font-face {
    font-family: Pokemon;
    src:url("fonts/Pokemon_GB.ttf");
}

:root {
    --bg1: #36383b;
    --bg2: #2b2c2e;
    --bg3: #1f1f21;
    --bg4: #131314;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg1);
}

* {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}

.website {
    overflow: hidden;
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: fit-content
}

.input_container {
    margin: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #0099ff;
    border: none;
    outline: none;
    transition-property: background-color;
    transition-duration: .4s;
}

button:hover {
    background-color: #007fd3;
    cursor: pointer;
}

button:focus {
    border: 1px solid white;
    margin: 1px;
}

button:active {
    border: 2px solid #c7c3c3;
    margin: 0;
    transform: translateY(2px);
}

#textarea {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 0 20px 0 20px;
}

#paste_list {
    position: absolute;
    z-index: 2;
    bottom: 6px;
    right: 2px;
    background-color: rgba(0, 153, 255, 0.5);
    width: 42px;
    height: 42px;
    padding: 0;
    margin: 2px
}

#paste_list:active {
    border: none;
    margin: 2px;   
    padding: 0; 
    transform: translateY(1px);
}

#paste_list:focus img {
    transform: translateX(-1px);
}

#paste_list:active img {
    transform: translateX(0);
}

#paste_list img {
    width: 42px;
    height: 42px;
}

/*BEGIN - list view switch*/
  
.button {
    position: relative;
    width: 112px;
    height: 50px;
    overflow: hidden;
    padding: 0;
    background-color: var(--bg2);
    border-radius: 6px;
}

#button_container {
    padding-right: 16px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs img,
#button-10 .knobs_after img {
  position: absolute;
  top: 2px;
  width: 42px;
  height: 42px;
  margin: 2px;
  border-radius: 6px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 2px;
  background-color: #0099ff;
}

#button-10 .knobs_after {
  right: 2px;
  z-index: 2;
}

#button-10 .knobs img {
  display: inline-block;
  top: 7px;
  left: 7px;
  color: #fff;
  z-index: 1;
  height: 32px;
  width: 32px;
}

#button-10 .knobs_after img {
    display: inline-block;
    top: 7px;
    right: 7px;
    color: #fff;
    z-index: 1;
    height: 32px;
    width: 32px;
  }

#button-10 .checkbox:checked + .knobs:before {
  left: 64px;
  background-color: #0099ff;
}

/*END - list view switch*/

#input_poke_text {
    height: 128px;
    width: 256px;
    resize: none;
    font-size: 12px;
    background-color: var(--bg2);
    border: var(--bg3) 1px solid;
    border-radius: 6px;
}

#input_poke_text:focus {
    outline: none;
    border: white 1px solid;
}

#show_pokemon_container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: baseline;
    height: 100%;
    width: 100%;
}

#show_pokemon_list {
    min-width: fit-content;
    width: 20%;
    align-self: flex-end;
}

#show_pokemon_compact {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

#show_pokemon_compact .pokemon_image_container {
    width: 92px;
    height: 92px;
}

#show_pokemon_compact .pokemon_name {
    font-family: Pokemon, sans-serif;
    font-size: 14px;
    margin: 2px 0 4px 0;
}

.pokemon_container_compact {
    margin: 4px;
    padding: 4px;
    background-color: var(--bg3);
    height: 128px;
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.pokemon_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin: 4px 0 4px 0;
    background-color: var(--bg3);
}

.shiny {
    background-color: var(--bg4);
    color: rgb(214, 199, 88);
}

.triangle {
    height: 64px;
    width: 100px;
    background: linear-gradient(to bottom right, var(--bg1) 0%, var(--bg1) 50%, var(--bg3) 50%, var(--bg3) 100%);
}

.triangle-shiny {
    background: linear-gradient(to bottom right, var(--bg1) 0%, var(--bg1) 50%, var(--bg4) 50%, var(--bg4) 100%);
}

.pokemon_image_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 100%;
}

.pokemon_image_container img {
    max-height: 100%;
}

.pokemon_name {
    font-family: Pokemon, sans-serif;
    font-size: 16px;
    margin-bottom: 4px
}

.pokemon_item {
    padding-right: 8px;
}